<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--将job类放入Spring容器中-->
    <bean id="SpringQuartzJob" class="com.kaishengit.crm.jobs.SpringQuartzJob"/>


    <!--定义JobDetail需要执行的任务-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!--job类执行的任务类-->
        <property name="targetObject" ref="SpringQuartzJob"/>
        <!--执行job类中方法-->
        <property name="targetMethod" value="runSpringQuartzJob"/>
    </bean>


    <!--固定定时任务-->
    <bean id="quartzJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <!--如果这是一个循环任务，需要把他定义为循环任务-->
        <property name="durability" value="true"/>
        <!--Quarzt job 的实现类的完全限定名-->
        <property name="jobClass" value="com.kaishengit.crm.jobs.MyQuartzJob"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="accountId" value="5000"/>
            </map>
        </property>

    </bean>


    <!--定义Trigger触发器-->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!--定义JobDetail执行的任务-->
        <property name="jobDetail" ref="quartzJob"/>
        <!--定义Cron表达式，也就是触发的时间-->
         <property name="cronExpression" value="0/3600 * * * * ? *"/>

    </bean>

    <!--定义调度器-->
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!--配置数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置事务管理器-->
        <property name="transactionManager" ref="transactionManager"/>
        <!--quartz.properties文件的位置-->
        <property name="configLocation" value="classpath:quartz.properties"/>
        <!--是否覆盖数据库中已有的任务-->
        <property name="overwriteExistingJobs" value="true"/>

       <!-- <property name="triggers">
            <list>
                &lt;!&ndash;调度去要执行的Trigger触发器&ndash;&gt;
                <ref bean="cronTrigger"/>
            </list>
        </property>-->

    </bean>

</beans>