<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--服务器名称，自定义-->
     <dubbo:application name="CommodityService"/>
    <!--注册中心-->
    <dubbo:registry address="zookeeper://192.168.1.47:2181"/>
    <!--dubbo的协议端口-->
    <dubbo:protocol host="192.168.1.47" name="dubbo" port="20880"/>
    <!--暴露服务-->
    <bean id="commodityService" class="com.neverend.impl.CommodityServiceImpl"/>

    <dubbo:service interface="com.neverend.service.CommodityService" ref="commodityService"/>

</beans>